@charset "ISO-8859-1";
body {
    font-family: 'Arial', sans-serif;
    background-image: url(bgimg_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-image: linear-gradient(pink,aqua);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.login-box {
    padding: 20px;
    padding-right: 40px;
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
